.centered-text {

    &__wrapper {
        max-width: $site-width;
        margin: 0 auto;
        text-align: center;
    }

    &__container {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 20px 45px;

        @include breakpoint(tablet) {
            padding: 0 20px 72px;
        }

        @include breakpoint(desktop) {
            padding: 0 20px 110px;
        }

        @include breakpoint(largedesktop) {
            padding: 0 0 140px;
        }
    }

    &__heading {
        font-weight: 300;
        padding: 60px 20px 0;

        @include breakpoint(tablet) {
            padding: 82px 20px 0;
        }
    
        @include breakpoint(desktop) {
            padding: 140px 20px 0;
        }
    
        @include breakpoint(largedesktop) {
            padding: 160px 0 0 0;
        }
    }

    &__paragraph {
        padding-top: 25px;

        @include breakpoint(tablet) {
            padding-top: 50px;
        }
    }
}
