.sv-pdf {
    &__wrapper {
        max-width: $site-width;
        margin: 0 auto;
        padding: 60px 30px;

        @include breakpoint(laptop) {
            padding: 200px 105px 160px 50px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 70px;
        }

        @include breakpoint(smalldesktop) {
            padding: 200px 105px 160px 80px;
        }

        @include breakpoint(xlargedesktop) {
            padding: 200px 105px 160px 16px;
        }

        .subtitle {
            font-size: 16px;

            @include breakpoint(tablet) {
                font-size: 18px;
            }

            &.subtitle::after {
                margin-left: 10px;

                @include breakpoint(tablet) {
                    margin-left: 20px;
                }
            }
        }
    }

    &__heading {
        font-weight: normal;
        padding: 15px 0;
    }

    &__icon {
        max-width: 150px;
        margin: 30px 0;
    }

    &__link {
        color: $primary-color;
        font-family: $primary-font-family;
        font-size: 12px;
        line-height: 1.6;
        font-weight: 300;
        text-decoration: none;
        display: block;

        @include breakpoint(tablet) {
            font-size: 16px;
        }
    
        @include breakpoint(desktop) {
            font-size: 18px;
        }
    
        @include breakpoint(largedesktop) {
            font-size: 20px;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    // style accordion

    &__left-box {
        max-width: 472px;
    }

    &__accordion-content {
        border: 1px solid $primary-color;
        padding: 30px 25px;
        margin-top: 35px;
    }

    // style image gallery 

    &__right-box {
        max-width: 472px;
        width: 100%;

        @include breakpoint(laptop) {
            max-width: 672px;
        }
    }

    &__gallery-container {
        margin-top: 30px;
        border: 1px solid $tertiary-color;

        @include breakpoint(laptop) {
            margin-top: 0;
        }

        &--image {
            width: 100%;
        }
    }

    &__gallery-row {
        margin-top: 20px;
        display: flex;

        @include breakpoint(laptop) {
            margin-top: 30px;
        }
    }

    &__gallery-column {
        margin-right: 12px;

        @include breakpoint(laptop) {
            margin-right: 30px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__gallery-column &__gallery-image {
        width: 100%;
        // incase there is ever only one thumbnail stop it from being same 100% width of main image
        max-width: 321px;
        height: 100%;
        cursor: pointer;
    }

    &__gallery-image {
        width: 100%;
        border: 1px solid $tertiary-color;
    }
}