.product-grid {
    margin-bottom: 50px;
    background: $secondary-color;

    @include breakpoint(tablet) {
        margin-bottom: 130px;
    }

    &__inner {
        margin: 0 auto;
        max-width: $site-width;
    }

    &__heading {
        padding: 60px 20px 45px;
        font-weight: 300;
        text-align: center;

        @include breakpoint(tablet) {
            padding: 82px 20px 72px;
        }

        @include breakpoint(desktop) {
            padding: 140px 20px 110px;
        }
    }

    &__products {
        list-style: none;
        margin: 0 auto;
        padding: 0 30px;
        max-width: 370px;
        justify-content: center;
        display: grid;

        @include breakpoint(tablet) {
            max-width: 100%;
            margin: 0 30px 50px 30px;
            grid-template-columns: auto auto;
            grid-gap: 20px;
        }

        @include breakpoint(laptop) {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 30px;
        }

        @include breakpoint(dekstop) {
            margin: 0 30px 100px 30px;
        }

        @include breakpoint(largedesktop) {
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }

    // override the woocommerce plugin styles start
    .attachment-woocommerce_thumbnail {
        border: 1px solid $quinary-color;
        width: 100%;
        max-width: 270px;
        height: auto;

        @include breakpoint(tablet) {
            max-width: 354px;
        }
    }

    .woocommerce-loop-product__title {
        font-size: 1.125em; // 18px
        font-weight: 300;
        line-height: 1.4;
        padding: 20px 0 40px;

        @include breakpoint(tablet) {
            font-size: 1.3em; // 20px
            padding: 20px 0 34px;
        }

        @include breakpoint(desktop) {
            font-size: 1.500em; // 24px
        }
    }

    .woocommerce-loop-product__link {
        text-decoration: none;
    }

    .button {
        display: none;
        visibility: hidden;
    }
    // override the woocommerce plugin styles end
}
