.sv-wrapper {
    .related-products__wrapper {
        background-color: $secondary-color;
    }

    .related.products {
        max-width: 400px;
        margin: 0 auto;
        padding: 60px 30px;

        @include breakpoint(tablet) {
            max-width: $site-width;
            padding: 140px 30px 120px 50px;
        }

        @include breakpoint(smalldesktop) {
            padding: 140px 30px 120px 30px;
        }

        @include breakpoint(xlargedesktop) {
            padding: 140px 0 120px 0;
        }

        &::before {
            content: "Products";
            position: absolute;
            top: 95px;
            color: $primary-color;
            font-family: $primary-font-family;
            font-size: em(16);
            text-transform: uppercase;


            @include breakpoint(tablet) {
                top: 95px;
                font-size: 18px;
            }
        }

        // line
        &::after {
            content: "";
            position: absolute;
            height: 3px;
            border-bottom: 1px solid $primary-color;
            width: 58px;
            top: 100px;
            left: 124px;
            max-width: 100px;


            @include breakpoint(tablet) {
                left: 140px;
            }

            @include breakpoint(xlargedesktop) {
                left: 110px;
            }
        }

        h2 {
            font-weight: normal;
            padding: 68px 0 42px;
            text-transform: capitalize;

            @include breakpoint(tablet) {
                padding: 0 0 82px;
            }
        }

        .woocommerce-loop-product__title {
            padding: 8px 0 42px;

            @include breakpoint(tablet) {
                padding: 0 0 82px;
            }
        }

        .products {
            list-style: none;

            @include breakpoint(tablet) {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 30px;
            }

            @include breakpoint(smalldesktop) {
                grid-template-columns: auto auto auto auto;
            }
        }
    }
}
