.slider {
    max-width: 100%;
    position: relative;
    height: 560px;

    @include breakpoint(tablet) {
        height: 670px;
    }

    @include breakpoint(largedesktop) {
        height: 870px;
    }
    
    &__slide-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        transition: all 1.75s ease;

        // default slide positions**********

        // the slide that is always on top
        &:first-child {
            z-index: 3;
            left: 0;
        }

        // the slide that is always next
        &:nth-child(2) {
            z-index: 2;
            left: -100vw;
        }

        // the slide that is always in the background 
        &:last-child {
            z-index: 1;
            left: 0;
        }

        // reset slide positions when previous button is clicked, the animations are different as it is the previous slide we need to transition in.******

        // this slide is alway in the background 
        &.previous:first-child {
            z-index: 3;
        }

        // this slide is always current on screen at top
        &.previous:nth-child(2) {
            z-index: 3;
        }

        // this slide is always the one off screen waiting to slide in
        &.previous:last-child {
            z-index: 2;
        }
    }

    &__image {
        width: 100%;
        height: 280px;
        // need object fit to retain aspect ratio
        object-fit: cover;
        object-position: left;
        position: relative;

        @include breakpoint(tablet) {
            height: 670px;
            position: absolute;
        }

        @include breakpoint(largedesktop) {
            height: 870px;
        }
    }

    &__content-box {
        background: white;
        padding: 30px;
        position: relative;
        margin-top: -4px;

        @include breakpoint(tablet) {
            position: absolute;
            top: 100px;
            right: 130px;
            margin-top: 0;
            padding: 40px;
            max-width: 430px;
        }

        @include breakpoint(largedesktop) {
            max-width: 530px;
            padding: 82px;
        }

        // overwrite some of main default styles to be custom to this component
        .subtitle {
            font-size: 0.875em;
            padding-bottom: 30px;

            &::after {
                top: 4px;
                max-width: 86px;
            }
        }

        &--heading {
            text-transform: uppercase;
            padding: 10px 0 15px 0;

            @include breakpoint(tablet) {
                padding: 20px 0 30px 0;
            }
        }

        &--paragraph {
            padding-bottom: 20px;
            font-size: 0.875em;
            line-height: 1.8;

            @include breakpoint(tablet) {
                padding-bottom: 30px;
                max-width: 310px;
            }

            @include breakpoint(largedesktop) {
                padding-bottom: 65px;
            }
        }

        // overwrite some of main default styles to be custom to this component
        .sydney-button__with-icon {
            left: 0;
            transform: none;
            margin: 0 0 10px;
            padding: 20px 48px 20px 36px;
        }
    }    
}

// style next and previous arrow buttons ****

.slider__arrow--prev {
    position: absolute;
    top: 24%;
    transform: translateY(-24%);
    left: 0;
    z-index: 15;

    @include breakpoint(tablet) {
        top: 50%;
        transform: translateY(-50%);
    }

    // overwrite some of main default styles to be custom to this component
    .sydney-button__with-icon {
        margin: 0;
        padding: 22px;

        @include breakpoint(tablet) {
            padding: 32px;
        }
    }
}

.slider__arrow--next {
    position: absolute;
    top: 24%;
    transform: translateY(-24%);
    right: 0;
    z-index: 15;

    @include breakpoint(tablet) {
        top: 50%;
        transform: translateY(-50%);
    }

    // overwrite some of main default styles to be custom to this component
    .sydney-button__with-icon {
        margin: 0;
        padding: 22px;

        @include breakpoint(tablet) {
            padding: 32px;
        }
    }
}
